@import 'Assets/Styles/variable.scss';
@import 'Assets/Styles/breakpoints.scss';
@import 'Assets/Styles/mixin.scss';

.categories-container {
    @include card-section;
    @include tabletOrPhone {
        width: 100%;
        overflow: hidden;
    }
    .categories-header {
        @include card-header;
        display: flex;
        justify-content: space-between;
        a {
            font-family: $rt_regular;
            color: $font_color
        }
        @include tabletOrPhone {
            a {
                display: none;
            }
        }
    }
    .categories-content {
        padding: 5vh;
        display: flex;
        @include desktop {
            justify-content: space-between;
        }
        @include tabletOrPhone {
            padding: 3vh 0;
            flex-wrap: wrap;
        }
        .categories-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: $qs_bold;
            white-space: nowrap;
            font-size: 1.6vh;
            color: $font_color;
            svg {
                width: 40px;
                height: 40px;
                cursor: pointer;
                margin-bottom: 1.2rem;
            }
            @include tabletOrPhone {
                width: calc((100%) / 4);
                margin-bottom: 1.5rem;
                font-size: 1.4vh;
                svg {
                    width: 35px;
                    height: 35px;
                }
            }
        }
        .last-item {
            @include desktop {
                display: none;
            }
        }
    }
}