@import './font.scss';

$qs_bold: 'quicksand_bold';
$qs_light: 'quicksand_light';
$qs_medium: 'quicksand_medium';
$qs_regular: 'quicksand_regular';

$rt_bold: 'roboto_bold';
$rt_italic: 'roboto_italic';
$rt_light: 'roboto_light';
$rt_light_italic: 'roboto_light_italic';
$rt_regular: 'roboto_regular';

$primary_color: #00F69E;
$font_color: #3F3D56;
$border_color: #e6e6e6;
